<style>
    th {
        padding: 5px;
        text-align: left;
        background-color: #0011ff;
        color: white;
    }
</style>

<h3>Lista de Estudos:</h3>
<br>
<table border="1">
    <thead>
        <tr>
            <th>Nome do assunto: </th>
            <th>Data </th>
            <th>Horário </th>
            <th>Duração </th>
            <th>Dias para terminar</th>
            <th>status </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>JavaScript </td>
            <td>30/02/25 </td>
            <td>19:00:00 </td>
            <td>15 dias </td>
            <td>Porcentagem </td>
            <td>status </td>
        </tr>
    </tbody>
</table>