<div class="agenda">
    <h2>Agenda de Contatos</h2>

    <!-- Label Dinâmico -->
    <div class="status">
        <h3 id="statusLabel" ng-show="status == 'criando'">Novo contato</h3>
        <h3 id="statusLabel" ng-show="status == 'editando'">Editando contato #{{dados.id}}</h3>
    </div>

    <!-- Formulário de Adicionar/Editar Contato -->
    <div class="input-group">
        <label for="name">Nome:</label>
        <input type="text" id="name" placeholder="Digite o nome" ng-model="dados.nome">
    </div>

    <div class="input-group">
        <label for="phone">Telefone Fixo:</label>
        <input type="text" id="phone" placeholder="Digite o telefone fixo" ng-model="dados.telefoneFixo">
    </div>

    <div class="input-group">
        <label for="mobile">Telefone Celular:</label>
        <input type="text" id="mobile" placeholder="Digite o telefone celular" ng-model="dados.telefoneCelular">
    </div>

    <div class="input-group">
        <label for="email">Email:</label>
        <input type="email" id="email" placeholder="Digite o email" ng-model="dados.email">
    </div>

    <div class="input-group">
        <label for="address">Endereço:</label>
        <input type="text" id="address" placeholder="Digite o endereço" ng-model="dados.endereco">
    </div>

    <div class="input-group buttons">
        <input type="button" ng-show="status == 'criando'" value="Adicionar" ng-click="salvarInfo()">
        <input type="button" ng-show="status == 'editando'" value="Salvar a edição" ng-click="editarSalvar()">
        <br><br>
        <input type="button" value="Cancelar" id="btnCancelar" ng-click="resetar()">
    </div>

    <!-- Lista de Contatos -->
    <div class="contact-list">
        <h3>Contatos</h3>
        <table id="contactTable">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone Fixo</th>
                    <th>Telefone Celular</th>
                    <th>Email</th>
                    <th>Endereço</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody ng-repeat="item in contatos">
                <tr>
                    <td>{{item.nome}}</td>
                    <td>{{item.telefoneFixo}}</td>
                    <td>{{item.telefoneCelular}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.endereco}}</td>
                    <td> <input type="button" value="Editar" ng-click="$parent.editar(item.id)">
                        <input type="button" value="Excluir" ng-click="$parent.delete(item.id)">
                        <!-- <a href="https://wa.me/55{{item.telefoneCelular}}?text=Olá, gostaria de mais informações."
                            class="whatsapp-btn">
                            <i class="fab fa-whatsapp"></i>
                            Abrir no WhatsApp
                        </a> -->

                    </td>
            </tbody>
            <tbody ng-show="contatos.length == 0">
                <tr>
                    <td colspan="6"> Não existem dados cadastrados
                    </td>
            </tbody>
        </table>
    </div>
</div>